[Desktop Entry]
Name=Zathura
MimeType=application/pdf;image/vnd.djvu+multipage;
Exec=mupdf-gl %F
Type=Application
Terminal=false
Keywords=PDF;Documents;
