*~
\#*#
.#*
.*.swp

.emacs.desktop
.emacs.desktop.lock
*-cache*
elpy/

auto-save-list/
url/

# temp
recentf
recentf~
eshell/history
eshell/lastdir


# lisp compiled
*.elc

# data
*.data

projectile.cache
projectile-bookmarks.eld
ido.last
org-persist

# magit shit
transient

# my private stuff
private.el

